/* 初始化代码 */
ul, li{list-style: none;}
body, p, h1, h2, h3, h4, img, div, span, ul, li{margin: 0;padding: 0;}
a,a:hover,a:visited,a:active{text-decoration: none;color: #333333;}
*{
  font-family: 微软雅黑;
}
html, body {
  scroll-behavior: smooth;
}
.body{
    width: 100%;
    padding: 0px 3%;
}
.slick-arrow{
  position: absolute;
  top: 47%;
  z-index: 10000;
  width: 40px;
  height: 60px;
  border-radius: 0px;
}
.slick-prev{
  left: 0px;
}
.slick-next{

  right: 0px;

}
/* 导航栏 */
.NavBar{
  z-index: 10000;
  width: 100%;
  height: 60px;
  border-bottom:solid #F0F0F0 1px; 
  position:fixed;
  top:0;
  left:0;
  background-color: #ffffff;
}
#home{
  display: block;
  float: left;
  color: #0078D7;
  font-size: 1.8em;
  height: 60px;
  margin-left: 20px;
  width: 80px;
  line-height: 60px;
}
#home>img{
  width: 100%;
}
.NavBar .choice{
  color: #0078D7;
}
.left{
  float: left;
  margin-left: 80px;
}
.left>li{
  float: left;
  margin-left: 10px;
  height: 60px;
  line-height: 60px;
  width: 60px;
  position: relative;
}
.left>li>a{
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
}
.left>li:hover{
  background-color: #F5F5F5;
}
.search{
  height: 30px;
  line-height: 30px;
}
.left>li>a{
  font-size: 1.2em;
}
.list{
  position: absolute;
  display:none;
  left: 0px;
  top:60px;
  box-shadow: 0px 0px 8px #777777;
  width: 160px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  z-index: 1000;
}
.subNav:hover>.list{
  display: block;
  transition: 500ms;
}
.list>li{
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
}
.list>li>a{
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 1.1em;
}
.list>li>a>span{
  display: inline-block;
  color: #0078D7;
  font-size: 1.5em;
  width: 35px;
}
.list>li:hover{
  background-color: #F5F5F5;
}
.right{
  float: right;
}
.search{
  float: left;
  background-color: #EEEEEE;
  width: 180px;
  height: 40px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 30px;
  transition: 1s;
  position: relative;
}
.search>input{
  border: none;
  margin-left: 20px;
  margin-top: 5px;
  height: 30px;
  width: 68%;
  outline: medium;
  background-color: #EEEEEE;
}
.search>button{
  border: none;
  float: right;
  outline: medium;
  background-color: #EEEEEE;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 15px;
  transition: 0.5s;
}
.search>button>span{
  font-size: 1.2em;
  color:#666666;
  transition: 0.5s;
}
.search:hover{
  width: 250px;
}
.search:hover>button{
  background-color:#aaaaaa
}
.search:hover>button>span{
  color: #F5F5F5;
}
#short1{
  display: none;
  position: absolute;
  width: 250px;
  padding-left: 30px;
  left: 0px;
  top: 40px;
  color: #ffffff;
  font-size: 30px;
  z-index: 1001;
}
.cardbox{
  position: absolute;
  display: none;
  left: 0px;
  top:50px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #777777;
  border-radius: 5px;
  width: 260px;
  color: #888888;
  font-size: 12px;
  padding: 10px;
  z-index: 1000;
}
.search:hover>.cardbox{
  display: block;
}
.search:hover>#short1{
  display: block;
}
.front{
  width: 100%;
  height: 30px;
  color: #888888;
  font-size: 12px;
  margin-bottom: 10px;
}
.front>button{
  float: right;
  height: 20px;
  border: none;
  background-color: #ffffff;
  outline: medium;
}
.front>button>span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 15px;
}
#log{
  display: inline-block;
}
.cardbox>li{
  display: inline-block;
  border: solid 1px rgb(230, 227, 227);
  border-radius: 5px;
  margin: 4px 4px;
  padding: 0px 5px;
}
.cardbox>li:hover{
  border-color: rgb(202, 200, 200);
}
.cardbox>li:hover>a{
  color: #333333;
}
.cardbox>li>a{
  color: #888888;
  font-size: 12px;
}
.right>li,.font{
  display: block;
  float:left;
  margin-right: 20px;
  position: relative;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.font{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  line-height: 40px;
  outline: medium;
  font-size: 1.2em;
  color: #888888;
  display: block;
  position: relative;
}
.switch{
  display: none;
  position: absolute;
  right: 0px;
  top: 60px;
  width: 190px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px #777777;
  border-radius: 5px;
  color: #888888;
  font-size: 0.7em;
  z-index: 1000;
}
#short2{
  display: none;
  position: absolute;
  width: 190px;
  padding-left: 150px;
  right: 0px;
  top: 50px;
  color: #ffffff;
  font-size: 30px;
  z-index: 1001;
}
.switch>div{
  width: 100%;
  padding: 10px;
  border-bottom: solid 1px #F5F5F5;
  text-align: right;
}
.night{
  display: block;
  float: left;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
}
.switchB{
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #F0F0F0; 
}
.switch-on{
  border-radius: 15px 0px 0px 15px;
  border-right: none;
}
.switch-off{
  border-radius: 0px 15px 15px 0px;
  border-left: none;
}
.switch>li>.switchB{
  width: 80px;
}
.switch>li,.switch>div{
  width: 100%;
  height: 50px;
  padding: 5px 10px;
}
.switch .choice{
  background-color: #0078D7;
  color: #ffffff;
}
.head>img{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 5px;
}
.head>span{
  color: #666666;
}
.right{
  height: 60px;
}

.writer>a{
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: rgb(20, 137, 233);
  text-align: center;
  color: #ffffff;
}
.writer>a>span{
  display: inline-block;
  width: 25px;
}
.writer:hover>a{
  background-color: #0078D7;
}
.teshu:hover{
  background-color: #F5F5F5;
}
.teshu{
  width: 70px;
  padding-left: 10px;
}
/* 主体左侧部分 */
.body{
  width: 81%;
  margin: 20px auto;
}
.SiteL{
  margin-top:50px;
  width: 60%;
  float: left;
}
.body .slick{
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: solid 1px #EEEEEE;
}
.body .slick img{
  width: 100%;
  border-radius: 5px;
}
.BlogList{
  width: 100%;
  margin: 20px 0px;
  color: #888888;

}
.BlogList>li{
  width: 100%;
  padding: 20px 0px;
  border-bottom: solid 1px #EEEEEE;
  position: relative;  
}
.BlogList .title{
  display: inline-block;
  color: #333333;
  font-size: 1.3em;
  font-weight: bold;
  overflow:hidden;
}
.BlogList .haveImg{
  width: 75%;
}
.BlogList .intrudation{
  display: block;
  margin: 10px 0px;
  text-overflow:ellipsis;
  overflow:hidden;
}
.BlogList img{
  position: absolute;
  right: 0px;
  top: 30%;
  width: 20%;
  border-radius: 5px;
}
.otherMessage a,.otherMessage span{
  color: #888888;
  font-size: 11px;
  display: inline-block;
  margin-right: 8px;
}
.otherMessage a:hover{
  color: #666666;
}
.BlogList .title:hover{
  text-decoration: underline
}
.more{
  width: 100%;
  outline: medium;
  border: none;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #888888;
  color: #ffffff;
  margin: 10px 0px;
}
.more:hover{
  background-color: #666666;
}
/* 主体右侧部分 */
.SiteR{
  margin-top:50px;
  width: 34%;
  margin-left: 5%;
  float: left;
}
.ExcList{
  width: 100%;
  margin-bottom: 30px;
}
.ExcList>li{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-right: 5px;
}
.ExcList>li>a{
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight:bolder;
  letter-spacing: 1px;
}
.ExcList>li>a>span{
  display: inline-block;
  margin-left: 10px;
  font-weight: normal;
}
.ExcList>li>.E1{
  color: #4986A8;
  background-color: #B7D6EC;
}
.ExcList>li>.E2{
  color: #518D85;
  background-color: #C1E4DE;
}
.ExcList>li>.E3{
  color: #BF903B;
  background-color: #F4E0BD;
}
.ExcList>li>.E4{
  color: #ffffff;
  background-color: #F69581;
}
.ExcList>li>.E5{
  color: #ffffff;
  background-color: #F8855B;
}
.ExcList>li>.E6{
  color: #ffffff;
  background-color: #FFB84F;
}

/* 推荐关注 */
.ExcAuther>li{
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  position: relative;
}
.ExcAuther>li>img{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  float: left;
  margin-right: 15px;
}
.personMessage{
  color: #888888;
  font-size: 0.7em;
  margin-top: 5px;
}
.get{
  border: none;
  outline: medium;
  color: #0db34c;
  font-size: 1.0em;
  background-color: #ffffff;
  position: absolute;
  right: 0px;
  top: 10px;
}

/* 结束部分 */
.about{
  margin: 10px 0px;
  color: #777777;
}
.about a{
  color: #777777;
  display: inline-block;
  margin-left: 0px;
}
.about a:hover{
  color: #555555
}

.up{
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  width: 40px;
  height: 40px;
  border: #eeeeee solid 1px;
  padding: 12px 12px;
  background-color: #F5F5F5;
}
/* 写文章页面 */
#editorBody{
  width: 100%;
}
.classify{
  float: left;
  width: 17%;
  height: 100%;
  background-color: #404040;
  padding: 30px 10px;
  position: relative;
}
#return{
  display: block;
  width: 90%;
  margin: 0px auto;
  border: #0078D7 solid 1px;
  height: 44px;
  border-radius: 22px;
  color: #0078D7;
  line-height: 44px;
  text-align: center;
}
.help{
  display: block;
  color: #999999;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
.editorBox{
  width: 83%;
  height: 100%;
  float: right;
}
.BlogTag{
  width: 30%;
  height: 100%;
  float: left;
  overflow-y: scroll;
}
.BlogTag>p{
  color: #595959;
  height: 60px;
  width: 100%;
  padding-left: 30px;
  line-height: 60px;
  font-size: 1.2em;
  border-bottom: solid 1px #F0F0F0;
}
.BlogTag span{
  display: inline-block;
  margin-right: 10px;
}
.TitleList>li{
  height: 90px;
  width: 100%;
  line-height: 90px;
  color: #4b4a4a;
  cursor: pointer;
  font-size: 1.3em;
  border-bottom: solid 1px #F0F0F0;
  padding-left: 30px;
  position: relative;
} 
.TitleList>li>p{
  width: 80%;
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}
.TitleList span{
  display: inline-block;
  margin-right: 10px;
  color: #888888;
}
.TitleList>li>button{
  display: none;
  position: absolute;
  right: 5%;
  top: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: medium;
}
.BlogTag>button{
  background-color: #ffffff;
  border: none;
  outline: medium;
  margin-top: 20px;
  padding-left: 30px;
  color: #404040;
  margin-bottom: 40px;
}
.editorArea{
  display: none;
  width: 70%;
  float: right;
  height: 100%;
  position: relative;
}
.editorTitle{
  width: 100%;
  font-size: 1.7em;
  padding-left: 30px;
  height: 80px;
  border: solid #E6E6E6 1px;
  border-bottom: none;
  outline: medium;
}
#none{
  width: 70%;
  float: right;
  height: 100%;
}
#none>p{
  margin-top: 39%;
  padding-left: 30%;
  color:#999999;
}
.TitleList>.choice{
  color: #404040;
  border-left: solid 5px #0078D7;
  background-color: #EEEEEE;
  padding-left: 25px;
  font-size: 1.5em;
}
.TitleList>.choice>button{
  display: inline-block;
}
#reserve{
  border: none;
  outline: medium;
  background-color: #0078D7;
  color: #ffffff;
  font-size: 1.7em;
  line-height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  transition: 500ms;
}
#reserve:hover{
  box-shadow: #0078D7 0px 0px 3px 3px 
}

/* 搜索界面 */
.searchbody{
  margin-top: 50px ;
  margin: 60px 169px;
  margin-bottom: 0px;
}

#LeftTag{
  overflow-y: scroll;
  width: 30%;
  float: left;
  height: 100%;
}

#categories{
  width: 100%;
  padding: 20px 0px;
}
#categories>li>a{
  display: block;
  width: 100%;
  height: 50px;
  font-size: 1em;
  line-height: 50px;
  border-radius: 5px;
}
#categories>li>a>span{
  display: inline-block;
  height: 30px;
  width: 30px;
  font-size: 1.2em;
  margin: 10px 20px;
  border-radius: 5px;
  background-color: #A0A0A0;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
}
#categories>li>a:hover{
  background-color: #F0F0F0;
}
#categories>li>.choice{
  background-color: #F0F0F0;
}
#leftCard{
  position: initial;
  display: block;
  box-shadow: none;
  border-radius: none;
  border-top: solid #F0F0F0 1px;
  border-bottom:  solid #F0F0F0 1px;
  width: 100%;
}

.Result{
  width: 69%;
  float: right;
  height: 100%;
  overflow-y: scroll;
}
.Result>p{
  color: #777777;
  padding-top: 20px;
}
/* 文章界面 */
#articleBody{
  margin: 70px auto;
  width: 620px;
}
.post>.Title{
  text-align: center;
  color: #333333;
  font-size: 2.4em;
  font-weight: bold;
  padding: 20px 0px;
}
.author{
  color: #969696;
  font-size: 12px;
  margin: 20px 0px 10px 0px;
  text-align: center;
}
#editor{
  color: #969696;
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
#editor:hover{
  color: #555555;
}
.postContent{
  text-align: center;
}
.postContent img{
  display: block;
  margin: 20px auto !important ;
  border-radius: 5px;
  max-width: 60%;
}
.postContent>p{
  font-size: 1.1em;
  margin: 20px 0px;
  text-align: left;
  width: 620px;
  word-wrap: break-word;
}
.copyright{
  width: 100%;
  color: #868686;
  text-align: right;
  padding: 20px 0px;
  margin-bottom: 10px;
  border-bottom: solid 1px  #F5F5F5; 
}
.Like{
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 35px;
  color: #EA6F5A;
  outline: medium;
}
#share{
  float: right;
}
#share>a{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  margin-left: 10px;
}
#share>.WeChat{
  color: #00BB29;
}
#share>.Weibo{
  color: #E05244;
}
#share>.QQzone{
  color: #FFC028;
}
#share>a:hover{
  background-color: #f5f5f5;
}
/* 我的主页 */
.ManInfo{
  width: 100%;
  margin: 20px 0px;
  height: 100px;
}
#Head{
  float: left;
}
#Head>img{
  width: 80px;
  height: 80px;
  border-radius: 40px
}
.ManInfo>.info{
  margin-left: 20px;
  float: left;
}
#name{
  font-size: 21px;
  font-weight: bolder;
  display: inline-block;
  margin: 5px 0px;
}
.infoList>li{
  float: left;
}
.infoList>li>a{
  display: inline-block;
  padding: 0px 10px;
  border-right: #f0f0f0 solid 1px;
}
.infoList>li>.LikeCount{
  border-right: none;
}
.infoList>li>a>p{
  color: #969696;
  font-size: 12px;
}
.infoList>li>a>p>span{
  display: inline-block;
  margin-left: 5px;
}
.menuList{
  width: 100%;
  height: 42px;
  border-bottom: #f0f0f0 solid 1px;
}
.menuList>li{
  float: left;
  padding: 10px 20px;
  border-bottom: rgba(0, 0, 0, 0) solid 2px;
  cursor: pointer;
  transition: 500ms;
}
.menuList>li>a{
  font-size: 1.1em;
  font-weight: bold;
  color: #969696;
  transition: 500ms;
}
.menuList>li>a>span{
  display: inline-block;
  font-size: 1.2em;
  margin-right: 10px;
}
.menuList>li:hover{
  border-bottom: #333333 solid 2px;
}
.menuList>li:hover a{
  color: #333333;
}
.menuList>.choice{
  border-bottom: #333333 solid 2px;
}
.menuList>.choice>a{
  color: #333333;
}
.userMessage{
  padding: 30px 0px;
  width: 100%;
  border-bottom: #f0f0f0 1px solid;
}
.userMessage span{
  display: inline-block;
  margin-right: 7px;
}
#cancel:hover,#edit:hover{
  color: #333333;
}
#edit{
  float: right;
  color: #969696;
}
.gg{
  float: left;
  color: #969696;
}
#userInfo{
  width: 100%;
  padding: 10px 5px;
  display: none
  
}
#userInfo>textarea{
  width: 100%;
  height: 130px;
  resize: none;
  font-size: 14px;
  background-color: hsla(0,0%,71%,.1);
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  outline: medium;
  margin-bottom: 10px;
}

#submit{
  width: 80px;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgba(59,194,29,.7);
  color: #42c02e!important;
  outline: medium;
  margin-right: 10px;
}
#cancel{
  color: #969696;
}
